*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

li {
  list-style-type: none;
}

button:hover {
  cursor: pointer;
}

/* Header styling */

.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 75%;
  margin: 1.5rem auto;
  font-family: "Roboto Slab", sans-serif;
}

.navigation h1 {
  color: #0290ff;
  font-size: 1.875rem;
  font-weight: bold;
  margin-right: 3rem;
}

.navigation nav * {
  font-size: 0.813rem;
  font-weight: normal;
  color: rgb(45, 45, 45);
  margin: auto 1.25rem;
  letter-spacing: 1.9px;
}

/* Book card styling */

.books-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-card {
  display: flex;
  justify-content: space-around;
  width: 75%;
  border: 1px #e8e8e8 solid;
  border-radius: 4px;
  margin: 0.5rem auto;
  padding: 2rem;
  font-family: "Roboto Slab", sans-serif;
}

.book-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #121212;
}

.book-genere {
  font-size: 0.9rem;
  font-weight: bold;
  color: #121212;
  opacity: 0.5;
  margin-bottom: 0.3rem;
}

.book-author {
  font-size: 0.9rem;
  font-weight: 300;
  color: #4386bf;
}

.book-btns {
  display: flex;
  color: #4386bf;
  font-size: 0.9rem;
  margin-top: 1.3rem;
}

.book-btns li:hover {
  cursor: pointer;
}

.remove-btn {
  border: none;
  background-color: inherit;
  color: inherit;
}

.line-vertical {
  height: 1.5rem;
  border: 0.5px solid gray;
  opacity: 0.7;
  margin: auto 1rem;
}

.book-middle-section {
  display: flex;
  align-items: center;
}

.progressbar-container {
  width: 4.25rem;
  margin-right: 1.3rem;
}

.book-middle-section p:nth-child(1) {
  font-size: 2rem;
  font-weight: normal;
}

.book-middle-section p:nth-child(2) {
  opacity: 0.5;
}

.book-right-section {
  margin: auto 0;
}

.book-right-section p:nth-child(1) {
  opacity: 0.5;
  font-size: 0.8rem;
  font-weight: 300;
}

.book-right-section p:nth-child(2) {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0.4rem;
  margin-bottom: 1.4rem;
}

.book-right-section button {
  width: 11.5rem;
  height: 2rem;
  padding: 0.5rem 1.2rem;
  border-radius: 3px;
  background-color: #0290ff;
  color: white;
  border: none;
}

/* form styiling */

.form-container {
  border-top: 1px solid gray;
  width: 75%;
  margin: 2.5rem auto;
  padding: 2.5rem 0 10rem 0;
  font-family: "Roboto Slab", sans-serif;
}

.form-container h2 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #888;
  margin-bottom: 1rem;
}

.form-container form {
  display: flex;
  justify-content: space-between;
}

.form-container input {
  padding: 0.5rem;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  width: 30%;
}

.form-container select {
  padding: 0.5rem;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  width: 20%;
}

.form-container button {
  width: 15%;
  height: 2rem;
  padding: 0.5rem 1.2rem;
  border-radius: 3px;
  background-color: #0290ff;
  color: white;
  border: none;
}

/* categories page styiling */

.categories-page {
  display: flex;
  flex-direction: column;
}

.categories-page button {
  width: 15%;
  height: 2rem;
  padding: 0.5rem 1.2rem;
  border-radius: 3px;
  background-color: #0290ff;
  color: white;
  border: none;
  margin: auto;
}

.categories-page span {
  margin: auto;
  color: red;
  margin-top: 20px;
  font-weight: bold;
}
